@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-sitebg: #FFFFFF;
  --color-text: #3C1518;
  --color-textSecondary: #69140E;
  --color-accent: #A44200;
  --color-accentHover: #D58936;
  --color-highlight: #F2F3AE;
  --color-deep: #3C1518;
  --color-flame: #E63900;
}
