@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Inter", "sans-serif";
    --color-sitebg: "#FFFFFF";        /** main background **/
        --color-bg: "#000000";          /** optional dark background **/
        --color-text: "#3C1518";          /** primary text **/
        --color-textSecondary: "#69140E"; /** secondary text / strong text **/
        --color-accent: "#A44200";        /** buttons & highlights **/
        --color-accentHover: "#D58936";   /** button hover, link hover **/
        --color-highlight: "#F2F3AE";     /** soft yellow background section **/
        --color-deep: "#3C1518";          /** dark footer/nav background **/
        --color-flame: "#E63900";         /** flame red (matches logo) **/
}

* {
    outline: 1px solid red;
}
