* {
    box-sizing: border-box;
  }

body {
    font-family: 'Inter', sans-serif;
    
    /* background-color: #CAA661; */
    /* background-image: linear-gradient(to bottom right, #ff7dd1, #d373ff); */
    background-image: linear-gradient(to bottom right, #ffa991, #ffb759);
    color: black;
}

.portrait{
    display: flex;
    max-width: 300px;
    height: auto;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    padding: 2rem 2rem;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
} 

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    position: sticky;
    top: 0;
}

p, .needsPad {
    padding-left: 2rem;
    padding-right: 2rem;
}

.clickable{
    background-color: white;
    border-radius: 4px;
}

