---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" local="Uh oh!">
    <p>
        Error 404 encountered; hate when that happens!
    </p>
    <a href="/jsahota11.github.io">
        Click here to go home.
    </a>

</Layout>