---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" local="A brief autobiography(?).">
    <p>
        Hello! My name is Jatinder, and I appreciate you taking interest in me.<br>
        I am currently based in Winnipeg, Manitoba and am studying at the University of Manitoba. I was born and raised here, 
        but would definitely like to leave and live somewhere else at some point!<br>
        I have always carried an interest in Math, and I found enjoyment in programming through my high school curriculum. In my second year at the university, I had originally<br>
        planned to pursue a joint degree in Statistics and Computer Science, but during my third year, I decided to switch to my current degree. I enjoy the rigour and logical puzzles in mathematics.<br><br> 

        To reiterate, my interests for research lie in discrete algorithms and computational geometry, as well as point-set topology and Number Theory. I am interested in learning more about<br>
        embedded and operating systems programming, as well as Crytography. I also enjoy programming and building websites and applications, which was something I began with almost 5 years ago.<br><br>

        At the moment, I am working remotely at DataAnotation, helping train the next generation of AI models to help with tasks related to coding and mathematics. This summer, I am slated to<br>
        research alongside Dr. Stephane Durocher at the University of Manitoba, where I will be selecting and researching an open problem related to computational geometry and discrete optimization.<br><br>

        Currently, the only projects I have active are this website (although, this will most likely be updated every once in a while), and an online tool to generate and visualize graphs with different properties.<br>
        I aim to implement a search engine for the graph generator, allowing the user to generate graphs by their title, like K12 for a Complete graph on 12 vertices. This is still extremely early and almost completely unfinished.<br><br>

        My motivation for studying math and computer science is pure interest. While I really do enjoy programming, I find myself drawn more towards theoretical mathematics, and the cross-sections between math and theoretical computer science.<br>
        These sorts of problems and puzzles are incredibly rewarding to research and develop, and nothing is quite as intellectually stimulating. For programming as well, I find that I prefer coding low-level applications and software.<br>

        Other than that, I like learning a lot, and so in my spare time I may read a good textbook. If not, I am most likely working on something to show you all! Recently I have had no time to work on anything outside of school.<br>
        If you want to know more about me as a person outside of this field, I enjoy hanging out with my friends and socializing. Recently my favourite foods have been pizza and burgers, which is quite the shift as for many years I<br>
        preferred asian cuisine; specifically Chinese and Indian food. I like teaching people about math and theoretical computer science, because it is so fun to talk about and to throw ideas around!
    </p>

    <div class="portrait">
        <!-- Add base again if this crashes -->
        <img class="portrait" src="/hero.svg" alt="Jatinder Sahota with clear glasses staring directly into the camera. Jatinder wears a blank facial expression." class="portrait"/>
    </div>

</Layout>