---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact" local="Contact Me!">
    <p1 class="pl-[2rem] pr-[2rem]">
        Here is the relevant contact info if you would like to reach out to me!<br><br>
    </p1>

    <div class="flex flex-row justify-around w-1/2">
        <a href="https://www.linkedin.com/in/jatinder-sahota">LinkedIn</a><br>
        <a href="https://github.com/jsahota11">GitHub</a><br>
        <a href="mailto:jsahota751@gmail.com">Email: jsahota751@gmail.com</a>
    </div>
</Layout>