---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact" local="Contact Me!">
    <p1 class="needsPad">
        Here is the relevant contact info if you would like to reach out to me!<br><br>
    </p1>

    <div class="contact-container">
        <a href="https://www.linkedin.com/in/jatinder-sahota">LinkedIn</a><br>
        <a href="https://github.com/jsahota11">GitHub</a><br>
        <a href="mailto:jsahota751@gmail.com">Email: jsahota751@gmail.com</a>
    </div>
</Layout>