---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact" local="Contact Me!">
    <p1 class="needsPad">
        Here is the relevant contact info if you would like to reach out to me!<br><br>
    </p1>
    <a class="needsPad" href="https://www.linkedin.com/in/jatinder-sahota">LinkedIn</a><br>
    <a class="needsPad" href="https://github.com/jsahota11">GitHub</a><br>
    <a class="needsPad">Email: </a><a href="mailto:jsahota751@gmail.com">jsahota751@gmail.com</a>
</Layout>