---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Home" local="Welcome!">

	<div class="flex flex-row justify-around items-center">

		<div class="inline-flex p-0 m-0 w-7/10 max-w-[600px] prose"> <!-- Little exerpt about me -->
			<p>
				Hey there! My name is Jatinder, and this is my personal webpage. I am currently pursuing a Joint Honours degree in
				Computer Science and Mathematics at the University of Manitoba, with a minor in Statistics.
				More specifically, my interests lie in discrete algorithms and computational geometry, as well as Number theory and Topology. I also enjoy
				programming, specifically low-level systems programming, and developed more interest in programming embedded and operating systems.<br>
				<br>
				I am currently learning fullstack web development in my free time, but usually I like to read. More textbooks than story books.<br>
				<br>
				On this website, you will find information about myself, including more about my own personal life and interests,
				projects and experiences, as well as a deeper dive into my hobbies, interests, and motivation. I encourage you stick around and read,
				and check back in every once in a while to see how the site has changed. I will most likely add a page for updates recently made to the website,
				or I may merge it with the already existing Updates page. We will see! I will upload my resume when it is updated.<br>
				<br>
				Thanks for reading,<br>
				Jatinder<br>
			</p>
		</div>

		<div class="inline-flex p-0 m-0 w-3/10 h-auto max-w-[400px]">
			<img src="/hero.svg" class="max-w-full rounded-xl" alt="Jatinder Sahota with clear glasses staring directly into the camera. Jatinder wears a blank facial expression." class="portrait"/>
		</div>


	</div>
	
</Layout>
