---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Site" local="Information about the website">
    <p class="pl-[2rem] pr-[2rem]">
        This site was made using Astro! It was deployed through Github Pages. I plan to expand this to deploy through something else later like Vercel or Netlify.<br>
        I also want to spruce up the website by incorporating more style. I anticipate integrating Tailwind CSS to help me accomplish this.<br>
        While this site is static, I do think eventually adding a few interactive elements with TypeScript can help make the website feel more alive.<br>
        One idea I had was for the personal projects; I would put a brief overview of a project, and then a carousel of screenshots of different states of the project.

        (2025-04-19) Site overhauled. Removed default index page and added customized pages.
    </p>

</Layout>