---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Updates" local="Recent updates.">
    <p>
        Most recently, nothing has really happened. I am just about done my exams!<br>
        I hope to put more information here in the future regarding professional and personal developments and achievements.<br>
        Things like new jobs, new published projects or papers, discoveries, and maybe even hobbie-related things!<br><br>

        While the purpose of this site is to showcase my abilities and experience in a professional manner, having a little corner<br>
        to provide curious visitors a peek into my life and person is an idea I like the sound of. Soon!
    </p>
</Layout>