---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Works" local="Experiences">
    <p class="p-[2rem]">
        I am currently working at DataAnnotation remotely, and have been with them since April 2024! The work consists of asking AI models to satisfy prompts relevant to computer science or math,<br>
        and then analyze, edit, and rate responses provided by the models. Typically, my favoured projects are regarding negative constraints with the aim of causing<br>
        the models to fail in specific ways. My work often entails asking models to generate code to fulfil a certain task given a set of constraints, and then I edit/debug their code,<br>
        run sufficient testing of the code before and after any edits, and then document/provide feedback regarding the failures of the model for future training.<br>
        This work has exposed me to a multitude of languages and various applied programming paradigms such as programming and operating with API endpoints,<br>
        setting up and maintaining websites using different frameworks like React.js or Next.js, as well as more applied and practical scripting with Bash.<br><br>

        I will add more information later regarding work experience, but as for now, this is the most relevant to my field.
    </p>
</Layout>