---
import Button from "./Button.astro"
---
<div class="text-black sticky top-1">
    <nav class="flex justify-around items-center w-full sticky top-0">
        <Button label="Home" link="/"/>
        <Button label="About me" link="/about"/>
        <Button label="Contact details" link="/contact"/>
        <Button label="Site details" link="/site_details"/>
        <Button label="Updates" link="/updates"/>
        <Button label="Works and Experience" link="/work"/>
    </nav>
</div>
