<nav> <!-- Add base back if this crashes -->
    <a>||</a>
    <a href="/">Home</a>
    <a>||</a>
    <a href="/about">About me</a>
    <a>||</a>
    <a href="/contact">Contact</a>
    <a>||</a>
    <a href="/site_details">Site details</a>
    <a>||</a>
    <a href="/updates">Updates</a>
    <a>||</a>
    <a href="/work">Works and Experience</a>
    <a>||</a>
</nav>