---
import Button from "./Button.astro"
---

<nav> <!-- Add base back if this crashes -->
    <!-- <a>||</a>
    <a href="/">Home</a>
    <a>||</a>
    <a href="/about">About me</a>
    <a>||</a>
    <a href="/contact">Contact</a>
    <a>||</a>
    <a href="/site_details">Site details</a>
    <a>||</a>
    <a href="/updates">Updates</a>
    <a>||</a>
    <a href="/work">Works and Experience</a>
    <a>||</a> -->

    <Button label="Homee" link="/"/>
    <Button label="About me" link="/about"/>
    <Button label="Contact details" link="/contact"/>
    <Button label="Site details" link="/site_details"/>
    <Button label="Updates" link="/updates"/>
    <Button label="Works and Experience" link="/work"/>
</nav>