---
import Button from "./Button.astro"
---
<nav>
    <Button label="Home" link="/"/>
    <Button label="About me" link="/about"/>
    <Button label="Contact details" link="/contact"/>
    <Button label="Site details" link="/site_details"/>
    <Button label="Updates" link="/updates"/>
    <Button label="Works and Experience" link="/work"/>
</nav>