<nav>
    <a>||</a>
    <a href="/jsahota11.github.io">Home</a>
    <a>||</a>
    <a href="/jsahota11.github.io/about">About me</a>
    <a>||</a>
    <a href="/jsahota11.github.io/contact">Contact</a>
    <a>||</a>
    <a href="/jsahota11.github.io/site_details">Site details</a>
    <a>||</a>
    <a href="/jsahota11.github.io/updates">Updates</a>
    <a>||</a>
    <a href="/jsahota11.github.io/work">Works and Experience</a>
    <a>||</a>
</nav>